<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>inheritancepack.Child1_change_password</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>confpassblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Newpassonlychar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickonmyprofile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mobileinchar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shortpass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Allvalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>allvalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bothvalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickonchangepass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>valid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewConfomvalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>confpassinvalid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>passwrong</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mobileinvalid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mobilnovalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Newpassshort</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>lastnamemobilnovalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>positivetestcase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
